.body{
    padding: 5px;
    background-color: brown;
}

.body, .container{
    border-radius: 5px;
}

.container{
    display: flex;
    flex-direction: column;
    /* box-shadow: 5px 5px black; */
    background-color: aliceblue;
    /* padding: 7px; */
    width: 200px;
}

.title{
    padding: 5px;
}

.item{
    padding: 3px;
}


.widebutton{
    text-align: "left";
    justify-content: flex-start;
}

.widebutton_container{
    /* justify-content: flex-start; */
    text-align: "left";
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}