.container, .body, .toolbar{
    display: flex;
    width: 100%;
}

.container, .body{
    align-items: center;
    justify-content: center;
}

.body{
    flex-direction: column;
}


.container{
    /* height: 100%; */
    overflow: auto;
}

