.body{
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;

    background-color: bisque;
}

.item{
    width: 250px;
    min-height: 200px;
    background-color: aqua;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    word-break: break-all;
}

.item>h4, .item>p{
    pointer-events: none;
}

.item:hover{
    animation: fade 0.8s;
    background-color: aquamarine;
}

@keyframes fade {
    from{background-color: aqua;}
    to{background-color: aquamarine;}
}